    body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-top: 0;
        }

        #imageInput {
            display: none;
        }

        .upload-button {
            display: block;
            width: auto;
            padding: 15px;
            background-color: #3498db;
            color: #fff;
            font-size: 18px;
            text-align: center;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .upload-button:hover {
            background-color: #2980b9;
        }

        #croppedImageContainer {
            text-align: center;
        }

        #croppedImage {
            max-width: 100%;
        }

        #cropAndDownload {
            display: block;
            width: 100%;
            padding: 15px;
            background-color: #27ae60;
            color: #fff;
            font-size: 18px;
            text-align: center;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        #cropAndDownload:hover {
            background-color: #219a52;
        }

        a {
            text-decoration: none;
            color: #3498db;
        }

        a:hover {
            text-decoration: underline;
        }